<tr>
    <td {{#if isDisplayCheckbox}}style="visibility: hidden" {{/if}}><input type="checkbox" {{#if isCheckboxChecked}}checked{{/if}}></td>
    <td>{{taskName}}</td>
    <td>{{publishDate}}</td>
</tr>